[color]
	ui = auto

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[user]
	name = Wignesh
	email = vignesh@programmer.net

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true
	template = ~/.stCommitMsg

[merge]
	log = true

[init]
	defaultBranch = main

[credential "https://git-codecommit.*.amazonaws.com"]
	helper =
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[http]
	postBuffer = 524288000

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
